<!DOCTYPE html>
<head>
    <title>Room</title>
</head>
<body>
    <h1>{{ room.name }}</h1>
    <div id="chat-messages">
        <div>
            <h4>Username</h4>
            <p>The message lorem ipsum dolor sit amet.</p>
        </div>
        <div>
            <h4>Username</h4>
            <p>The message lorem ipsum dolor sit amet.</p>
        </div>
        <div>
            <h4>Username</h4>
            <p>The message lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <form action="" method="post">
        <input type="text" name="content" placeholder="Type your message here" id="chat-message-input">
        <!-- <input type="submit" value="Send"> -->
        <button id="chat-message-submit">Submit</button>
    </form>

{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    console.log("custom_print:", window.location.host);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('message')

        const data = JSON.parse(e.data);

        if (data.message) {
            let html = '<div><h4>' + data.username + '</h4>';
                html += '<p>' + data.message + '</p>';
                html += '</div>';

            document.querySelector('#chat-messages').innerHTML += html;
        } else {
            alert('The message is empty')
        }
    }

    chatSocket.onclose = function(e) {
        console.log('close')
    }

    //

document.querySelector('#chat-message-submit').onClick = function(e) {
    e.prventDefault();
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;

    chatSocket.send(JSON.stringify({
        'message': message,
        'username': userName,
        'room': roomName
    }));
    messageInputDom.value = '';

    return false;
}
</script>
</body>
</html>